@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000;
    background-color: #f2f2f2;
    
    place-items: center;
}
.portafolio{
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textPort{
    
    color: transparent;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: bold;
    background-image: url(./imagenes/orgullo.jpg);
    background-position-y: 60%;
    background-size: cover;
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    font-family: 'Anton', sans-serif;
}




@keyframes escribir{
    from{width: 0;}
    to{width: 99%;}
}
@keyframes cursor{
    50%{
        border-color: transparent;
    }
    
}

.margin{

    margin-left: 70%;
}


.dev{
    
    color: #e5e5e5;
    font-size: 50px;
    
    overflow: hidden;
   white-space: nowrap;
   font-size: 40px;
   border-right: .15em solid #18bdec;
   animation: escribir 5s steps(33) 1s 1 normal both, cursor 500ms steps(1) infinite;
   font-family: 'Courier Prime', monospace;

    
    
}
.bg-dark{
    background-color: #000000 !important;
    
}
.navbar-dark{
    background-color: #000000 !important;
   
}
.educacionTit{
    background-image: url(./imagenes/violeta.jpg);
    background-size: cover;
    color: #000;
    min-height: 100vh;
    padding:300px;
    
}
.educacion{
    min-height: 100vh;
    
    align-items: center;
    justify-content: center;
}
.acercaDe{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.experiencia{
    min-height: 100vh;
    
    align-items: center;
    justify-content: center;
}
.experiencia-bg{
    background-image: url(./imagenes/rojo.jpg);
    min-height: 100vh;
    background-size: cover;
}

.contacto{
    min-height: 100vh;
    background-image: url(./imagenes/auris.jpg);
    background-position-y: top;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}
footer{
    min-height: 20vh;
    background-color: #000000;
    color: #e5e5e5;
}
.p-acercaDe{
    padding: 200px;
}
.p-subtittulos{
    font-family: 'Courier Prime', monospace;
    font-size: 30px;
    font-weight: bold;
    
}
.p-educacion{
    padding: 200px;
}
.p-experiencia{
    padding: 200px;
}
.p-contacto{
    padding: 200px;
}
.p-footer{
    padding: 100px;
}