@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    place-items: center;
    
}
.bg-dark{
    background-color: #000 !important;
}
.secciones{
    -webkit-text-stroke: 2px black;
    padding-bottom: 70px;
    
}
.seccion-pad{
    padding-top: 50px;
}
    

/*-----JUMBOTRON------*/

.jumbotron{
    background-color: #000;
    color: #fff;
    min-height: 100vh;
   
}
.jumbotron-text{
    padding-top: 50px;
    color: transparent;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: bold;
    background-image: url(./img/orgullo.jpg);
    background-position-y: 60%;
    background-size: cover;
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    font-family: 'Anton', sans-serif;
}
.animation{
    padding-left: 30px;
    letter-spacing: 10px;
    color: #e5e5e5;
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 45px;
    
    animation: escribir-lc 3s steps(15) 1s 1 normal both;
    font-family: 'Anton', sans-serif;
}
.animation-dev{
    color: #e5e5e5;
    letter-spacing: 10px;
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 38px;
    
    animation: escribir 3s steps(18) 6s 1 normal both, cursor 500ms steps(1) 6s infinite;
    font-family: 'Anton', sans-serif;
}
@keyframes escribir-lc{
    from{width: 0;}
    to{width: 416px;}
}
@keyframes escribir{
    from{width: 0;}
    to{width: 450px;}
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
    
}
@media  screen and ( max-width: 992px){
        .jumbotron-text{
            font-size: 90px;
            
        }
        .animation{
            font-size: 30px;
        }
        .animation-dev{
            font-size: 30px;
        }
        @keyframes escribir{
            from{width: 0;}
            to{width: 50%;}
        }
}
@media  screen and (max-width: 768px) {
    .jumbotron-text{
        font-size: 90px;
        padding-top: 30px;
    }
    .animation{
        font-size: 25px;
        padding-left: 30px;
    }
    .animation-dev{
        font-size: 22px;
    }
    .jumbotron{
        padding-top: 200px;
    }
    @keyframes escribir{
        from{width: 0;}
        to{width: 332px;}
    }
    @keyframes escribir-lc{
        from{width: 0;}
        to{width: 301px;}
    }
    

}
.container-lc{
    min-height: 100vh;
}
/*---acerca de---*/
.img-redonda {
    width:300px;
    height:300px;
    border-radius:160px;
    border:10px solid #fcbf49;
  
}
.img-div{
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 20px;
}
.tit-areas{
    letter-spacing: 10px;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Anton', sans-serif;
    
}

.subtitulos{
    padding-top: 50px;
    color: transparent;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: bold;
    
    background-position-y: 60%;
    background-size: cover;
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    font-family: 'Anton', sans-serif;
}
/*-----educacion y skills-----*/
.bg-educacion{
    background-image: url(./img/verde.jpg);
    font-size: 70px;
 }   
.educacion{
    background-image: url(./img/verde.jpg);
    background-size: cover;
}
    


/*----experiencia----*/
.bg-exp{
    background-image: url(./img/violeta.jpg);
    font-size: 70px;
}
.expe{
    background-image: url(./img/violeta.jpg);
    background-size: cover;
    min-height:100vh;
}

/*-------contacto------*/
.bg-contacto{
    background-image: url(./img/auris.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}
.contacto{
    min-height: 100vh;
}

/*-----footer------*/
.bg-footer{
    background-color: #000;
}
.button{
    
    position: fixed;
	bottom: 40px;
	right: 40px;
	
	z-index: 99;
}
@media screen and (max-width: 768px) {
    .button {
       font-size: 14px;
       padding: 12px 20px;
       bottom: 20px;
       right: 20px;
   }

   }
   .button-w{
    
    position: fixed;
	bottom: 88px;
	right: 40px;
	
	z-index: 99;
}
@media screen and (max-width: 768px) {
    .button-w {
       font-size: 14px;
       padding: 12px 20px;
       bottom: 20px;
       right: 20px;
   }

   }